{% extends 'base.html.twig' %}

{% block title %}Register - {% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal mt-5">Register</h1>

    {{ form_start(registrationForm, {
        'attr': {'class': 'w-50 mx-auto'}
    }) }}
        {{ form_errors(registrationForm.plainPassword, {
            'attr': {'class': 'text-danger list-unstyled'}
        }) }}
        {{ form_widget(registrationForm.name) }}
        {{ form_widget(registrationForm.email) }}
        {{ form_widget(registrationForm.plainPassword) }}

        <button class="btn btn-secondary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
