<tr
        id="{{ message.id }}"
        class="message-row row position-relative text-justify {{ row.isRead ? '' : 'font-weight-bold' }}">
    <td class="col-3 px-3 text-truncate">
        {{ include('_userNameDisplay.html.twig', {user: message.sender}) }}
    </td>
    <td class="col px-3 text-truncate position-static">
        <a href="{{ path('message', {messageId: message.id}) }}" class="text-reset text-decoration-none stretched-link">
            {{ message.about }}
        </a>
    </td>
    <td class="col-1 text-right px-3">{{ message.sentWhen }}</td>
</tr>