{% extends 'base.html.twig' %}

{% block body %}
    <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#new-msg-form">New Message</button>

    <ul class="nav nav-tabs border-0">
        <li class="nav-item" id="received-msg">
            <a href="{{ path('inbox') }}" class="nav-link text-secondary {% if not sent  %} active {% endif %}">Received</a>
        </li>
        <li class="nav-item" id="sent-msg">
            <a href="{{ path('outbox') }}" class="nav-link text-secondary {% if sent  %} active {% endif %}">Sent</a>
        </li>
    </ul>

    {% if inbox.count == 0  %}
        <p class="h5 my-5">No messages {{ sent ? 'sent' : 'received' }}</p>
    {% else %}
        <table class="table table-hover table-sm">
            {% for row in inbox %}
                {{ include('inbox/_messageRow.html.twig', {message: row.message}) }}
            {% endfor %}
        </table>
    {% endif %}

    {% if maxPages > 1 %}
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item {{ thisPage == 1 ? 'disabled' }}">
                <a href="{{ path(sent ? 'outbox' : 'inbox', {currentPage: thisPage - 1 }) }}" class="page-link text-secondary">Previous</a>
            </li>

            {% for i in 1..maxPages %}
                <li class="page-item {{ i == thisPage ? 'active' }}">
                    <a href="{{ path(sent ? 'outbox' : 'inbox', {currentPage: i}) }}" class="page-link {{ i == thisPage ? 'text-white' : 'text-secondary' }}">{{ i }}</a>
                </li>
            {% endfor %}

            <li class="page-item {{ thisPage == maxPages ? 'disabled' }}">
                <a href="{{ path(sent ? 'outbox' : 'inbox', {currentPage: thisPage + 1}) }}" class="page-link text-secondary">Next</a>
            </li>
        </ul>
    {% endif %}

    {{ include('_formModal.html.twig', {
        formId: 'new-msg-form',
        formTitle: 'New message',
        form: newMessageForm
    }) }}
{% endblock %}