<header class="bg-white border-bottom shadow-sm">
    <div class="container d-flex p-3 align-items-center">
        <a href="{{ path('home') }}" type="button" class="btn btn-light bg-transparent mr-md-auto border-0" id="home-button">
            <h5 class="my-0 font-weight-normal">Courier 2</h5>
        </a>
        <nav class="nav my-2 my-md-0 mr-md-3">
            {% if app.user %}
                <a href="" class="btn btn-link text-secondary" id="menu-friends">Friends</a>
                <a href="" class="btn btn-link text-secondary" id="menu-groups">Groups</a>
                <div class="dropdown">
                    <button class="btn btn-link text-secondary dropdown-toggle" id="menu-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.name }}</button>

                    <div class="dropdown-menu" aria-labelledby="menu-user">
                        <button type="button" class="btn btn-link text-secondary dropdown-item" id="menu-profile">Profile</button>
                        <a href="{{ path('app_logout') }}" type="button" class="btn btn-link text-danger dropdown-item" id="menu-log-out">Log out</a>
                    </div>
                </div>
            {% else %}
                <a href="{{ path('sign_in') }}" class="btn btn-link text-secondary" id="menu-sign-in">Sign in</a>
                <a href="{{ path('app_register') }}" type="button" class="btn btn-outline-secondary" id="menu-register">Register</a>
            {% endif %}
        </nav>
    </div>
</header>